.cart-item-div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 400px;
    display: flex;
    margin: 1rem;
}

.no-items-div{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-img-div{
    height: 100%;
    width: 150px;
}

.cart-item-img-div img{
    height: 100%;
    object-fit: contain;
}

.cart-item-text-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

.cart-item-text-div p{
    margin: 0;
}

.cart-item-itemname{
    font-weight: bolder;
}