nav{
    height: 50px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    font-size: 1.5rem;
    margin: 0 1rem;
}

.navbar-list{
    list-style: none;
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-right: 3rem;
}

ul.navbar-list li{
    margin: 0 1rem;
    cursor: pointer;
}