.product-card-div{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
}

.product-card-img-div{
    height: 70%;
}

.product-card-img-div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card-title{
    margin: 0;
    text-align: center;
}

.product-card-price{
    margin: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.product-card-button-div{
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-card-qty-selector{
    font-size: 1.5rem;
}

.qty-selector{
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}