.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

a, a:hover, a:focus, a:active {
  text-decoration: inherit;
  color: inherit;
}

.add-to-cart-btn{
  padding: 0.5rem;
  background-color: #1e40af;
  color: white;
  font-family: inherit;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.add-to-cart-btn:hover{
  background-color: #2563eb;
  /* color: black; */
}