.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

a, a:hover, a:focus, a:active {
  text-decoration: inherit;
  color: inherit;
}